---
import Layout from "../layouts/Layout.astro";

// from @TheoBr
// https://github.com/TheoBr/t3-astro/blob/e263bdb83606402afc8a48de3d5da307b4283b12/src/pages/blog/index.astro#L12-L17
const allPosts = await Astro.glob("./blog/*.md");

const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title="blog. - mmatt.net">
  <main class="max-w-6xl lg:ml-auto lg:mr-auto mr-5 ml-5">
    <p class="text-3xl font-bold animate-fadeInDown">/blog</p>
    <p class="animate-fadeInDown">words and stuff</p>
    <br />

    <div class="flex flex-col">
    {
      sortedPosts.map((p) => (
        <div class="animate-fadeInDown">
          <a href={"/blog/" + p.url?.split("/")[2]}>
            <div class="flex gap-5 flex-row">
                <div class="flex flex-col pb-10">
                    <h2 class="text-2xl font-bold">{p.frontmatter.title}</h2>
                    <p class="text-lg">{p.frontmatter.date}</p>
                </div>
                {
                    p.frontmatter.imgUrl ? (
                        <img src={p.frontmatter.imgUrl} alt={p.frontmatter.title} width="auto" class="max-h-20 rounded" height="50" />
                    ) : null
                }
            </div>
          </a>
        </div>
        <br/>
      ))
    }
    </div>
  </main>
</Layout>
