---
import Layout from "../layouts/Layout.astro";
---

<Layout title="devices. - mmatt.net">
  <main class="max-w-6xl lg:ml-auto lg:mr-auto relative mr-5 ml-5">
    <h1 class="text-3xl font-bold animate-fadeInDown">/devices</h1>

    <br />

    <h2 class="text-2xl font-bold animate-fadeInDown">main pc</h2>

    <ul class="list-disc animate-fadeIn list-inside">
      <li>CPU: Intel i9-9900K</li>
      <li>
        RAM: 32GB 3200 MHz <a
          href="https://www.amazon.com/dp/B081XWLQKS"
          class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded"
          >(Corsair Vengence Pro)</a
        >
      </li>
      <li>GPU: RTX 2070</li>
      <li>OS: Windows 11 (with Ubuntu on a VM for some dev work)</li>
      <li>Storage:</li>
      <ul class="ml-10 list-disc list-inside">
        <li>NVME: WD_BLACK: 1TB</li>
        <li>SSD: Random generic one from how the computer came: 1TB</li>
      </ul>
      <li>
        Keyboard: <a
          href="https://www.pcgamingrace.com/products/gmmk-tkl-tenkeyless-brown-switch"
          class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded"
          >Glorious GMMK TKL: Gateron Reds</a
        >
      </li>
      <li>Mouse: Finalmouse Starlight-12 (Gold) - 400 DPI</li>
      <li>
        (Out of date) Benchmark: <a
          href="https://www.userbenchmark.com/UserRun/49470833"
          class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded"
          >Click Here</a
        >
      </li>
      <li>
        (Out of date) PC Part Picker: <a
          href="https://pcpartpicker.com/list/wsNGK4"
          class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded"
          >Click Here</a
        >
      </li>
      <li>
        <a
          href="https://settings.gg/player/166736678"
          class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded"
          >CS:GO Settings</a>
      </li>
      <li>
        Headphones: <a href="https://www.amazon.com/gp/product/B00ENMK1DW" class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded">PHILIPS SHP9500</a>
      </li>
    </ul>

    <br />

    <h2 class="animate-fadeInDown text-2xl font-bold">main laptop</h2>
    <ul class="animate-fadeIn list-disc list-inside">
      <li>Model: Apple Macbook Air (Late 2020) - M1</li>
      <li>CPU: Apple M1</li>
      <li>GPU: 8 Core GPU from M1</li>
      <li>RAM: 16GB</li>
      <li>Storage:</li>
      <ul class="ml-10 list-disc list-inside">
        <li>SSD: 500GB</li>
      </ul>
      <li>OS: macOS Monterey (12.4)</li>
    </ul>
  </main>
</Layout>
