---
import { ViewTransitions } from "astro:transitions";
import { type Props } from "../components/Card.astro";
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:title" content={"mmatt.net"} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:description" content={"temp website :("} />
    <meta property="og:type" content="website" />

    <meta name="theme-color" content="#BEFCFF" media="not screen" />

    <meta name="twitter:card" content={"summary"} />
    <meta name="twitter:site" content="@mmatt" />
    <meta name="twitter:title" content={"mmatt.net"} />
    <meta name="twitter:description" content={"temp website :("} />

    <meta name="author" content="mmatt <matt@mmatt.net>" />
    <meta property="description" content={"temp website :("} />
    <meta name="description" content={"temp website :("} />
    <title>mmatt.net</title>

    <link
      rel="webmention"
      href="https://webmention.io/www.mmatt.net/webmention"
    />
    <link rel="pingback" href="https://webmention.io/www.mmatt.net/xmlrpc" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

    <ViewTransitions />
  </head>
  <body class="dark:bg-black dark:text-white bg-white text-black">
    <main
      class="max-w-2xl gap-5 lg:ml-auto lg:mr-auto relative mr-5 ml-5 flex flex-col justify-center h-screen"
    >
      <h1 class="text-4xl font-bold">hello!</h1>
      <p>
        my name is matt morris and i'm head technologist for <a
          class="underline"
          href="https://songish.app?ref=mmatt.net">Songish</a
        >. 🧑‍🔬
      </p>
      <p>
        currently in a little experimental era 🧪 so that's whats going on
        here... soon i'll have a brand new website design, but i gotta figure
        out what I like!!!! <a
          class="underline"
          href="https://web.archive.org/web/20231207164012/https://mmatt.net/"
          >(here's what this page looked like before)</a
        >
      </p>
      <a class="underline" href="https://mmatt.mmm.page/"
        >here's a webpage i made with a new thing, maybe i'll do something like
        this
      </a>
      <p>anyways, you aren't missing much. here's everywhere I am:</p>

      <ul class="list-disc">
        <li>
          <a class="underline" href="https://twitter.com/mmatt">twitter</a>
        </li>
        <li>
          <a class="underline" href="https://youtube.com/@mmattbtw">youtube</a>
        </li>
        <li>
          <a class="underline" href="https://github.com/mmattbtw">github</a>
        </li>
        <li>
          <a class="underline" href="https://twitch.tv/mmattbtw">twitch</a>
        </li>
        <li>
          <a class="underline" href="https://social.lol/@matt" rel="me"
            >mastodon</a
          >
        </li>
        <li>
          <a class="underline" href="https://matt.omg.lol">everywhere else...</a
          >
        </li>
      </ul>

      <p>
        my email is <a class="underline" href="mailto:matt@mmatt.net"
          >matt at mmatt.net</a
        >
      </p>
      <p>previous pages:</p>
      <ul class="list-disc">
        <li>
          <a class="underline" href="/blog">/blog</a>
        </li>
        <li><a class="underline" href="/devices">/devices</a></li>
      </ul>

      <style>
        html {
          font-family: system-ui, sans-serif;
        }

        :global(code) {
          font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
        }
      </style>

      <!-- social.lol verification code -->
      <a rel="me" href="https://social.lol/@matt" class="hidden"
        >social.lol verification</a
      >
    </main>
  </body>
</html>
