---
// const discogsHeaders = {
// Authorization: `Discogs token=${import.meta.env.DISCOGS_TOKEN}`,
// };
// const response = await fetch("https://api.discogs.com/users/mmattbtw/collection/value", {headers: discogsHeaders});
// const data = await response.json()

import Card,{ Props } from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const projects: Props[] = [
  {
    title: "AI TTS Donations",
    tags: "wip • open source • mmattDonk • twitch • python 3",
    link: "https://github.com/mmattDonk/AI-TTS-Donations",
    imgUrl: "/images/ai_tts.webp",
    description:
      "AI TTS Donations (working name) is a free and open source AI TTS program. This was made because other solutions were private / cost streamers tons of money. AI TTS Donations includes playsounds, voice effects, and thousands of voices using Uberduck and FakeYou",
  },
  {
    title: "TwitchTunes",
    tags: "open source • mmattDonk • twitch • python 3",
    description:
      "TwitchTunes is a Twitch chat bot that lets your viewers use Spotify to request songs.",
    imgUrl: "/images/twitchtunes.webp",
    link: "https://github.com/mmattDonk/TwitchTunes",
  },
  {
    title: "VIBEFEST.live",
    tags: "remix • react • typescript • music festival",
    description:
      "VIBEFEST.live is a website made for the VIBEFEST online music festival. It uses the React framework Remix and uses the Component Library Mantine. It includes a news feed with a comment section, a stream page with a Twitch embed and donation information, and a guestbook!",
    imgUrl: "/images/vibefestlive.webp",
    link: "https://vibefest.live",
  },
];
---

<Layout title="home. - mmatt.net">
  <main class="max-w-6xl lg:ml-auto lg:mr-auto relative mr-5 ml-5">
    <div
      class="flex flex-col text-center md:text-left justify-center items-center gap-5 md:justify-evenly md:flex-row"
    >
      <div class="flex flex-col">
        <p class="text-3xl font-bold animate-fadeInDown">yo i'm matt 👋</p>
        <p class="animate-fadeInDown animation-delay-300">
          i'm 17, a{" "}
          <a
            href="https://last.fm/user/mmattbtw"
            class="transition-all text-red-400 hover:bg-red-400/50 hover:text-white hover:p-0.5 hover:rounded"
            >music lover,
          </a>
          <a
            href="https://www.discogs.com/user/mmattbtw"
            class="transition-all text-gray-400 hover:bg-gray-400/50 hover:text-white hover:p-0.5 hover:rounded"
            >record collector,
          </a> former <a
            class="transition-all text-purple-400 hover:bg-purple-400/50 hover:text-white hover:p-0.5 hover:rounded"
            href="https://twitch.tv/mmattbtw"
            >twitch
          </a> streamer, current twitch chatter, <span class="line-through"
            >mostly ex
          </span>
          <a
            href="https://github.com/mmattbtw"
            class="transition-all text-teal-600 hover:bg-teal-600/50 hover:text-white hover:p-0.5 hover:rounded"
            >python developer and frontend developer.
          </a>
        </p>
        <br />
        <p class="animate-fadeInDown animation-delay-350">
          right now i am focussing on building free and open source software to
          make Twitch more fun for <a
            href="https://mmattDonk.com"
            class="transition-all text-blue-400 hover:bg-blue-400/50 hover:text-white hover:p-0.5 hover:rounded"
            >mmattDonk.
          </a>
        </p>
      </div>
      <img
        src="/images/mmattbtw.webp"
        class="transition-all animate-fadeIn animation-delay-400 shadow-2xl shadow-black/30 dark:shadow-white/30 rounded-xl hover:border-2 hover:border-cyan-200"
        height="200px"
        width="200px"
        alt="Photo of me, orange hair with glasses, holding an iPhone, wearing a purple Twitch hoodie."
      />
    </div>

    <div class="mt-48">
      <h1 class="text-2xl font-bold text-center animate-fadeInDown">
        things i've worked on
      </h1>
      <div
        class="mt-4 flex flex-col md:grid md:grid-cols-3 md:items-start justify-center items-center gap-4 animate-fadeIn"
      >
        {projects.map((project) => <Card {...project} />)}
      </div>
    </div>

    <div class="mt-48 mb-36">
      <h1 class="text-2xl font-bold text-center animate-fadeInDown">
        internet profiles
      </h1>
      <div
        class="mt-10 flex flex-col md:grid md:grid-cols-4 md:items-stretch justify-center items-center lg:gap-4 gap-20 animate-fadeIn"
      >
        <a
          href="https://twitter.com/mmattbtw"
          class="transition-all rounded dark:fill-neutral-300 dark:hover:fill-white fill-neutral-700 hover:fill-black"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="w-20 h-20 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Twitter</title><path
              d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
            ></path>
          </svg>
        </a>
        <a
          href="https://github.com/mmattbtw"
          class="transition-all rounded dark:fill-neutral-300 dark:hover:fill-white fill-neutral-700 hover:fill-black"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="w-20 h-20 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            ><title>GitHub</title><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path>
          </svg>
        </a>
        <a
          href="https://twitch.tv/mmattbtw"
          class="transition-all rounded dark:fill-neutral-300 dark:hover:fill-white fill-neutral-700 hover:fill-black"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="w-20 h-20 transition-all"
            xmlns="http://www.w3.org/2000/svg"
            ><title>Twitch</title><path
              d="M11.571 4.714h1.715v5.143H11.57zm4.715 0H18v5.143h-1.714zM6 0L1.714 4.286v15.428h5.143V24l4.286-4.286h3.428L22.286 12V0zm14.571 11.143l-3.428 3.428h-3.429l-3 3v-3H6.857V1.714h13.714Z"
            ></path>
          </svg>
        </a>
        <a
          href="https://mm.omg.lol"
          class="transition-all rounded dark:fill-neutral-300 dark:hover:fill-white fill-neutral-700 hover:fill-black"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-20 h-20 transition-all"
            viewBox="0 0 24 24"
          >
            <title>everything else!</title>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </main>
</Layout>
