---
import Layout from "../layouts/Layout.astro";

// someone should figure out how to do a param thing here instead of me having to change it every time i go live xdd
const embedID = "9kklgGbbxes";
---

<Layout title="live stream. - mmatt.net" disableScribbles disableHeaderOnScroll>
  <p class="text-xl ml-auto mr-auto text-center">
    streams from youtube with a twitch chatting experience.
  </p>
  <p class="text-sm ml-auto mr-auto text-center">
    (because its literally a youtube embed with a twitch chat)
  </p>
  <div class="flex flex-col lg:flex-row h-screen gap-1 mt-10">
    <iframe
      src={`https://www.youtube-nocookie.com/embed/${embedID}`}
      title="YouTube video player"
      class="overflow-hidden h-screen w-full"
      height="100%"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <iframe
      id="chat_embed"
      src={`https://www.twitch.tv/embed/mmattbtw/chat?parent=${
        // @ts-ignore
        process.env.VERCEL_URL ? `www.mmatt.net` : "localhost"
      }`}
      height="100%"
      class="w-screen h-screen lg:w-[500px]"
    >
    </iframe>
  </div>
</Layout>
