---
export interface Props {
  href: string;
  color: string;
}

const { href, color } = Astro.props as Props;
---

<a
  href={href}
  class={"transition-all text-" +
    color +
    " " +
    "hover:bg-" +
    color +
    "/50 hover:text-white hover:p-0.5 hover:rounded"}
  ><slot />
</a>
