---
const { frontmatter } = Astro.props;
import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title + " - mmatt.net"}>
  <!-- <div> -->
  <div class="max-w-6xl lg:ml-auto lg:mr-auto relative mr-5 ml-5">
    <div>
      <div class="prose lg:prose-xs dark:prose-invert">
        <slot />
      </div>

      <br />
      <div class="mt-10 mb-10">
        <script
          src="https://giscus.app/client.js"
          data-repo="mmattbtw/mmatt.net-discussions"
          data-repo-id="R_kgDOH54_Mw"
          data-category="General"
          data-category-id="DIC_kwDOH54_M84CRH3m"
          data-mapping="url"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        ></script>
      </div>
    </div>
  </div>
</Layout>
